<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.team.hk.storeInfo.mapper.StoreInfoMapper">

    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        SI.STORE_ID AS storeId,
        SI.STORE_NAME AS storeName,
        SI.STORE_PHONE AS storePhone,
        SI.STORE_ADDRESS AS storeAddress,
        SI.STORE_ADMIN AS storeAdmin,
        SI.STORE_DESCRIPTION AS storeDescription,
        SI.STORE_STATUS AS storeStatus,
        SI.STORE_LOGO AS storeLogo,
        SI.STORE_NOTICE AS storeNotice,
        SI.STORE_TYPE AS storeType,
        SI.SEAT_COST AS seatCost,
        SI.SERVICE_COST AS serviceCost,
        SI.STORE_BUSINESS_AM_START_HOURS AS storeBusinessAmStartHours,
        SI.STORE_BUSINESS_AM_END_HOURS AS storeBusinessAmEndHours,
        SI.STORE_BUSINESS_PM_START_HOURS AS storeBusinessPmStartHours,
        SI.STORE_BUSINESS_PM_END_HOURS AS storeBusinessPmEndHours,
        SI.STORE_BUSINESS_DAY AS storeBusinessDay,
        SI.CREATER AS creater,
        SI.CREATE_DATE_TIME AS createDateTime,
        SI.MODIFY AS modify,
        SI.UPDATE_DATE_TIME AS updateDateTime,
        STATUS AS status
    </sql>

    <!-- 查询 -->
    <select id="listByPage" parameterType="StoreInfo" resultType="StoreInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM HK_STORE_INFO_T SI, HK_USER_STORE_INFO_T USI
        <where>
            SI.STORE_ID = USI.STORE_ID
            <if test="storeId != null">
                AND USI.STORE_ID = #{storeId}
            </if>
            <if test="userId != null">
                AND USI.USER_ID = #{userId}
            </if>
        </where>
        ORDER BY UPDATE_DATE_TIME DESC
        <if test="pageNo != null and pageSize != null">
            LIMIT #{pageNo}, #{pageSize}
        </if>
    </select>

    <!-- 总数 -->
    <select id="listCountByPage" parameterType="StoreInfo" resultType="int">
        SELECT
        count(*)
        FROM HK_STORE_INFO_T SI, HK_USER_STORE_INFO_T USI
        <where>
            SI.STORE_ID = USI.STORE_ID
            <if test="storeId != null">
                AND USI.STORE_ID = #{storeId}
            </if>
            <if test="userId != null">
                AND USI.USER_ID = #{userId}
            </if>
        </where>
        <if test="pageNo != null and pageSize != null">
            LIMIT #{pageNo}, #{pageSize}
        </if>
    </select>

    <!-- 查询（无分页）-->
    <select id="list" parameterType="StoreInfo" resultType="StoreInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM HK_STORE_INFO_T SI, HK_USER_STORE_INFO_T USI
        <where>
            SI.STORE_ID = USI.STORE_ID
            <if test="storeId != null">
                AND USI.STORE_ID = #{storeId}
            </if>
            <if test="userId != null">
                AND USI.USER_ID = #{userId}
            </if>
        </where>
    </select>

    <!--查询门店ID -->
    <select id="getStoreIdbyUser" parameterType="Long" resultType="Long">
        SELECT
        USI.STORE_ID
        FROM HK_USER_STORE_INFO_T USI
        <where>
            <if test="#{0} != null">
                USI.USER_ID = #{0}
            </if>
        </where>
    </select>

    <!-- 更新 -->
    <update id="update" parameterType="MenuInfo">
        UPDATE HK_STORE_INFO_T
          SET STORE_NAME = #{storeName},
              STORE_PHONE = #{storePhone},
              STORE_ADDRESS = #{storeAddress},
              STORE_ADMIN = #{storeAdmin},
              STORE_DESCRIPTION = #{storeDescription},
              STORE_STATUS = #{storeStatus},
              STORE_LOGO = #{storeLogo},
              STORE_NOTICE = #{storeNotice},
              STORE_TYPE = #{storeType},
              SEAT_COST = #{seatCost},
              SERVICE_COST = #{serviceCost},
              STORE_BUSINESS_AM_START_HOURS = #{storeBusinessAmStartHours},
              STORE_BUSINESS_AM_END_HOURS = #{storeBusinessAmEndHours},
              STORE_BUSINESS_PM_START_HOURS = #{storeBusinessPmStartHours},
              STORE_BUSINESS_PM_END_HOURS = #{storeBusinessPmEndHours},
              STORE_BUSINESS_DAY = #{storeBusinessDay},
              MODIFY = #{modify},
              UPDATE_DATE_TIME = now()
           WHERE STORE_ID = #{storeId};
    </update>

    <!-- 增加 -->
    <insert id="add" parameterType="StoreInfo" useGeneratedKeys="true" keyProperty="storeId">
        INSERT into HK_STORE_INFO_T(
                STORE_NAME,
                STORE_PHONE,
                STORE_ADDRESS,
                STORE_ADMIN,
                STORE_DESCRIPTION,
                STORE_STATUS,
                STORE_LOGO,
                STORE_NOTICE,
                STORE_TYPE,
                SEAT_COST,
                SERVICE_COST,
                STORE_BUSINESS_AM_START_HOURS,
                STORE_BUSINESS_AM_END_HOURS,
                STORE_BUSINESS_PM_START_HOURS,
                STORE_BUSINESS_PM_END_HOURS,
                STORE_BUSINESS_DAY,
                CREATER,
                CREATE_DATE_TIME,
                MODIFY,
                UPDATE_DATE_TIME,
                STATUS
            )
            VALUES
            (
               #{storeName},
               #{storePhone},
               #{storeAddress},
               #{storeAdmin},
               #{storeDescription},
               #{storeStatus},
               #{storeLogo},
               #{storeNotice},
               #{storeType},
               #{seatCost},
               #{serviceCost},
               #{storeBusinessAmStartHours},
               #{storeBusinessAmEndHours},
               #{storeBusinessPmStartHours},
               #{storeBusinessPmEndHours},
               #{storeBusinessDay},
               #{creater},
               now(),
               #{modify},
               now(),
               #{status}
            )
    </insert>

    <!-- 增加用户门店关联信息 -->
    <insert id="addStoreUserInfo" parameterType="StoreUserInfo" useGeneratedKeys="true" keyProperty="userId">
        INSERT into HK_USER_STORE_INFO_T(
        USER_ID,
        STORE_ID
        )
        VALUES
        (
        #{userId},
        #{storeId}
        )
    </insert>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM HK_STORE_INFO_T WHERE STORE_ID = #{0}
    </delete>
    <delete id="deleteByIdOne" parameterType="Long">
        DELETE FROM HK_USER_STORE_INFO_T WHERE STORE_ID = #{0}
    </delete>

    <!-- 删除全部-->
    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM HK_STORE_INFO_T WHERE STORE_ID in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteByIdsOne" parameterType="java.util.List">
        DELETE FROM HK_USER_STORE_INFO_T WHERE STORE_ID in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 门店图片操作 -->

    <!--查询门店图片 -->
    <select id="getStoreImg" parameterType="Long" resultType="java.lang.String">
        SELECT
        IMG.IMG_URL
        FROM HK_STORE_IMG_T IMG
        <where>
            <if test="#{0} != null">
                IMG.STORE_ID = #{0}
            </if>
        </where>
    </select>

    <!-- 增加门店图片 -->
    <insert id="addStoreImg" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT into HK_STORE_IMG_T(
        IMG_URL,
        STORE_ID
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.imgUrl},#{item.storeId})
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="updateStoreImg" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE HK_STORE_IMG_T
            <set>
                IMG_URL = #{item.imgUrl},
            </set>
            where STORE_ID = ${item.storeId}
        </foreach>
    </update>

    <!-- 删除门店图片 -->
    <delete id="deleteStoreImg" parameterType="StoreInfo">
        DELETE FROM HK_STORE_IMG_T WHERE IMG_URL = #{imgUrl} AND STORE_ID = #{storeId}
    </delete>
</mapper>