<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.team.hk.sys.mapper.SysDictInfoMapper">

    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        ID AS id,
        TYPE_ID AS typeId,
        TYPE_NAME AS typeName,
        VALUE AS value,
        NAME AS name,
        CREATER AS creater,
        CREATE_DATE_TIME AS createDateTime,
        MODIFY AS modify,
        UPDATE_DATE_TIME AS updateDateTime,
        STATUS AS status
    </sql>

    <!-- 查询 -->
    <select id="listByPage" parameterType="SysDictInfo" resultType="SysDictInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM HK_SYS_DICTIONARY_INFO_T
        <where>
            <if test="id != null">
                ID = #{id}
            </if>
        </where>
        ORDER BY UPDATE_DATE_TIME DESC
        <if test="pageNo != null and pageSize != null">
            LIMIT #{pageNo}, #{pageSize}
        </if>
    </select>

    <!-- 总数 -->
    <select id="listCountByPage" parameterType="SysDictInfo" resultType="int">
        SELECT
        count(*)
        FROM HK_SYS_DICTIONARY_INFO_T
        <where>
            <if test="id != null">
                ID = #{id}
            </if>
        </where>
        <if test="pageNo != null and pageSize != null">
            LIMIT #{pageNo}, #{pageSize}
        </if>
    </select>

    <!-- 查询（无分页）-->
    <select id="list" parameterType="SysDictInfo" resultType="SysDictInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM HK_SYS_DICTIONARY_INFO_T
        <where>
            <if test="id != null">
                ID = #{id}
            </if>
        </where>
    </select>

    <!-- 更新 -->
    <update id="update" parameterType="SysDictInfo">
        UPDATE HK_SYS_DICTIONARY_INFO_T
          SET TYPE_ID = #{typeId},
              TYPE_NAME = #{typeName},
              VALUE = #{value},
              NAME = #{name},
              MODIFY = #{modify},
              UPDATE_DATE_TIME = now()
           WHERE ID = #{id}
    </update>

    <!-- 增加 -->
    <insert id="add" parameterType="SysDictInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT into HK_SYS_DICTIONARY_INFO_T(
                TYPE_ID,
                TYPE_NAME,
                VALUE,
                NAME,
                CREATER,
                CREATE_DATE_TIME,
                MODIFY,
                UPDATE_DATE_TIME,
                STATUS
            )
            VALUES
            (
               #{typeId},
               #{typeName},
               #{value},
               #{name},
               #{creater},
               now(),
               #{modify},
               now(),
               #{status}
            )
    </insert>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM HK_SYS_DICTIONARY_INFO_T WHERE ID = #{0}
    </delete>

    <!-- 删除全部-->
    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM HK_SYS_DICTIONARY_INFO_T WHERE ID in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>