<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.team.hk.sys.mapper.SysUserInfoMapper">

    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        U.USER_ID             AS userId,
        U.USER_NAME           AS userName,
        U.USER_PASSWORD       AS userPassword,
        U.USER_PHONE          AS userPhone,
        U.USER_SEX            AS userSex,
        U.USER_ADDRESS        AS userAddress,
        U.USER_ROLE           AS userRole,
        U.USER_TYPE           AS userType,
        U.PARENT_ID           AS parentId,
        U.CREATER             AS creater,
        U.CREATE_DATE_TIME    AS createDateTime,
        U.MODIFY              AS modify,
        U.UPDATE_DATE_TIME    AS updateDateTime,
        U.STATUS              AS status
    </sql>
    <sql id="Base_Column_List_Store">
        S.STORE_ID            AS storeId
    </sql>
    <!-- 查询 -->
    <select id="listByPage" parameterType="SysUserInfo" resultType="SysUserInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM HK_SYS_USER_INFO_T U
        <where>
            <if test="userId != null">
                U.USER_ID = #{userId}
            </if>
            <if test="userName != null">
                AND U.USER_NAME = #{userName}
            </if>
            <if test="userPassword != null">
                AND U.USER_PASSWORD = #{userPassword}
            </if>
            <if test="userType != null">
                AND U.USER_TYPE = #{userType}
            </if>
            <if test="parentId != null">
                AND U.PARENT_ID = #{parentId}
            </if>
        </where>
        ORDER BY U.UPDATE_DATE_TIME DESC
        <if test="pageNo != null and pageSize != null">
            LIMIT #{pageNo}, #{pageSize}
        </if>
    </select>

    <!-- 总数 -->
    <select id="listCountByPage" parameterType="SysUserInfo" resultType="int">
        SELECT
        count(*)
        FROM HK_SYS_USER_INFO_T U
        <where>
            <if test="userId != null">
                U.USER_ID = #{userId}
            </if>
            <if test="userName != null">
                AND U.USER_NAME = #{userName}
            </if>
            <if test="userPassword != null">
                AND U.USER_PASSWORD = #{userPassword}
            </if>
            <if test="userType != null">
                AND U.USER_TYPE = #{userType}
            </if>
            <if test="parentId != null">
                AND U.PARENT_ID = #{parentId}
            </if>
        </where>
        <if test="pageNo != null and pageSize != null">
            LIMIT #{pageNo}, #{pageSize}
        </if>
    </select>

    <!-- 角色是user结果带storeId-->
    <!-- 查询 -->
    <select id="userListByPage" parameterType="SysUserInfo" resultType="SysUserInfo">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        <include refid="Base_Column_List_Store"/>
        FROM HK_SYS_USER_INFO_T U
        LEFT JOIN HK_USER_STORE_INFO_T S
        ON U.USER_ID = S.USER_ID
        <where>
            <if test="userId != null">
                U.USER_ID = #{userId}
            </if>
            <if test="userName != null">
                AND U.USER_NAME = #{userName}
            </if>
            <if test="userPassword != null">
                AND U.USER_PASSWORD = #{userPassword}
            </if>
            <if test="userType != null">
                AND U.USER_TYPE = #{userType}
            </if>
            <if test="parentId != null">
                AND U.PARENT_ID = #{parentId}
            </if>
        </where>
        ORDER BY U.UPDATE_DATE_TIME DESC
        <if test="pageNo != null and pageSize != null">
            LIMIT #{pageNo}, #{pageSize}
        </if>
    </select>

    <!-- 总数 -->
    <select id="userListCountByPage" parameterType="SysUserInfo" resultType="int">
        SELECT
        count(*)
        FROM HK_SYS_USER_INFO_T U
        LEFT JOIN HK_USER_STORE_INFO_T S
        ON U.USER_ID = S.USER_ID
        <where>
            <if test="userId != null">
                U.USER_ID = #{userId}
            </if>
            <if test="userName != null">
                AND U.USER_NAME = #{userName}
            </if>
            <if test="userPassword != null">
                AND U.USER_PASSWORD = #{userPassword}
            </if>
            <if test="userType != null">
                AND U.USER_TYPE = #{userType}
            </if>
            <if test="parentId != null">
                AND U.PARENT_ID = #{parentId}
            </if>
        </where>
        <if test="pageNo != null and pageSize != null">
            LIMIT #{pageNo}, #{pageSize}
        </if>
    </select>

    <!-- 查询（无分页）-->
    <select id="list" parameterType="SysUserInfo" resultType="SysUserInfo">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        <include refid="Base_Column_List_Store"/>
        FROM HK_SYS_USER_INFO_T U
        LEFT JOIN HK_USER_STORE_INFO_T S
        ON U.USER_ID = S.USER_ID
        <where>
            <if test="userId != null">
                U.USER_ID = #{userId}
            </if>
            <if test="userName != null">
                AND U.USER_NAME = #{userName}
            </if>
            <if test="userPassword != null">
                AND U.USER_PASSWORD = #{userPassword}
            </if>
            <if test="userType != null">
                AND U.USER_TYPE = #{userType}
            </if>
            <if test="parentId != null">
                AND U.PARENT_ID = #{parentId}
            </if>
        </where>
    </select>

    <!-- 更新 -->
    <update id="update" parameterType="SysUserInfo">
        UPDATE HK_SYS_USER_INFO_T
          SET USER_NAME = #{userName},
              USER_PASSWORD = #{userPassword},
              USER_ROLE = #{userRole},
              USER_PHONE = #{userPhone},
              USER_SEX = #{userSex},
              USER_ADDRESS = #{userAddress},
              MODIFY = #{modify},
              UPDATE_DATE_TIME = now()
          WHERE USER_ID = #{userId}
    </update>

    <!-- 增加 -->
    <insert id="add" parameterType="SysUserInfo" useGeneratedKeys="true" keyProperty="userId">
        INSERT into HK_SYS_USER_INFO_T(
                USER_NAME,
                USER_PASSWORD,
                USER_ROLE,
                USER_PHONE,
                USER_SEX,
                USER_ADDRESS,
                USER_TYPE,
                PARENT_ID,
                CREATER,
                CREATE_DATE_TIME,
                MODIFY,
                UPDATE_DATE_TIME,
                STATUS
            )
            VALUES
            (
               #{userName},
               #{userPassword},
               #{userRole},
               #{userPhone},
               #{userSex},
               #{userAddress},
               #{userType},
               #{parentId},
               #{creater},
               now(),
               #{modify},
               now(),
               #{status}
            )
    </insert>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM HK_SYS_USER_INFO_T WHERE USER_ID = #{0}
    </delete>
    <!-- 关联删除 -->
    <delete id="deleteByIdChild" parameterType="Long">
        DELETE FROM HK_SYS_USER_INFO_T WHERE PARENT_ID = #{0}
    </delete>

    <!-- 删除全部-->
    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM HK_SYS_USER_INFO_T WHERE USER_ID in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!-- 关联删除全部-->
    <delete id="deleteByIdsChild" parameterType="java.util.List">
        DELETE FROM HK_SYS_USER_INFO_T WHERE PARENT_ID in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>